/* Symphony - Dynamic (matugen) */
.theme-dark, .theme-light {
  --background-primary: #18120c;
  --background-primary-alt: #251e17;
  --background-secondary: #302921;
  --background-secondary-alt: #251e17;
  --background-modifier-hover: #3b332c;
  --background-modifier-border: #50453a;

  --text-normal: #eee0d5;
  --text-muted: #d4c4b5;
  --text-faint: #9d8e81;
  --text-on-accent: #482a00;

  --interactive-accent: #f9ba72;
  --interactive-accent-hover: #663d00;
  --text-accent: #f9ba72;
  --text-accent-hover: #663d00;

  --link-color: #f9ba72;
  --link-color-hover: #bdcd9d;
  --link-external-color: #e0c1a3;

  --code-background: #251e17;
  --code-normal: #eee0d5;

  --text-error: #ffb4ab;
  --text-success: #bdcd9d;
  --text-warning: #e0c1a3;

  --divider-color: #50453a;
  --icon-color: #d4c4b5;
  --icon-color-hover: #eee0d5;
  --tag-color: #f9ba72;
  --tag-background: #302921;
}

::selection { background: #f9ba7240; }
